In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../data/interim/combined-solar-data.csv', index_col = 0)

In [3]:
df['Date'] =  [row.split(' ')[0] for row in df['Date time']]

In [4]:
df.set_index('Date', inplace = True)

In [5]:
df.drop('Date time', axis = 1, inplace = True)

In [6]:
df.loc['2021-11-17' : '2022-11-17'].to_csv('../../data/processed/solar_data.csv')

In [7]:
df

,Solar Energy (kWh),Inverter 1 Energy (kWh),Inverter 1 Lifetime Cumulative Energy (kWh),Inverter 2 Energy (kWh),Inverter 2 Lifetime Cumulative Energy (kWh)
Date,,,,,
2021-11-01,21.4,10.3,40358.6,11.1,38080.7
2021-11-02,0.0,0.0,40358.6,0.0,38080.7
2021-11-03,0.0,0.0,40358.6,0.0,38080.7
2021-11-04,27.0,12.9,40371.5,14.1,38094.8
2021-11-05,26.7,12.7,40384.2,14.0,38108.8
...,...,...,...,...,...
2022-11-13,0.0,0.0,46677.9,0.0,44068.8
2022-11-14,0.0,0.0,46677.9,0.0,44068.8
2022-11-15,0.0,0.0,46677.9,0.0,44068.8
2022-11-16,0.0,0.0,46677.9,0.0,44068.8
2022-11-17,0.0,0.0,46677.9,0.0,44068.8