In [1]:
# Importing dependencies

import pandas as pd
import glob

# Data Collection

<img src = 'https://raw.githubusercontent.com/nickmccarty/solar-energy-predictor/main/images/tesla-app-screenshot.jpg' width = 30%>

Thanks, Tesla, for making me download a year's worth of solar data one week at a time using your mobile app -- said no one ever...nevertheless, we persist and read them all into a single data structure for processing.

In [2]:
# Looking in the data folder for the raw solar data CSVs,
# then concatenating them into a dataframe

df = pd.concat(map(pd.read_csv, glob.glob("../../data/raw/solar/*")))

# Casting `Date time` column as `datetime` object

df['Date time'] = pd.to_datetime(df['Date time'])

# Instantiating sorted df

df = df.sort_values(by='Date time')

In [3]:
# Taking a peek

df.head()

,Date time,Solar Energy (kWh),Inverter 5441d581-c9d9-4e00-a7c9-f8a9b45ec456 Energy (kWh),Inverter 5441d581-c9d9-4e00-a7c9-f8a9b45ec456 Lifetime Cumulative Energy (kWh),Inverter ea39caf1-d86f-4368-a7b9-a90a3502b4be Energy (kWh),Inverter ea39caf1-d86f-4368-a7b9-a90a3502b4be Lifetime Cumulative Energy (kWh)
0,2021-11-01 01:00:00-08:00,21.4,10.3,40358.6,11.1,38080.7
1,2021-11-02 01:00:00-08:00,0.0,0.0,40358.6,0.0,38080.7
2,2021-11-03 01:00:00-08:00,0.0,0.0,40358.6,0.0,38080.7
3,2021-11-04 01:00:00-08:00,27.0,12.9,40371.5,14.1,38094.8
4,2021-11-05 01:00:00-08:00,26.7,12.7,40384.2,14.0,38108.8

In [4]:
# Last day of fully-generated solar energy was 11-4-2022

df.tail()

,Date time,Solar Energy (kWh),Inverter 5441d581-c9d9-4e00-a7c9-f8a9b45ec456 Energy (kWh),Inverter 5441d581-c9d9-4e00-a7c9-f8a9b45ec456 Lifetime Cumulative Energy (kWh),Inverter ea39caf1-d86f-4368-a7b9-a90a3502b4be Energy (kWh),Inverter ea39caf1-d86f-4368-a7b9-a90a3502b4be Lifetime Cumulative Energy (kWh)
2,2022-11-02 01:00:00-08:00,11.1,11.1,46646.0,0.0,44068.8
3,2022-11-03 01:00:00-08:00,15.5,15.5,46661.5,0.0,44068.8
4,2022-11-04 01:00:00-08:00,14.9,14.9,46676.4,0.0,44068.8
5,2022-11-05 01:00:00-08:00,1.5,1.5,46677.9,0.0,44068.8
6,2022-11-06 01:00:00-08:00,0.0,0.0,46677.9,0.0,44068.8

In [5]:
# Exporting processed CSV

df.to_csv('../../data/interim/combined-solar-data.csv')