In [1]:
# Importing dependencies

import pandas as pd

# Data Collection

Data was collected from **this data source:** https://sunrise.maplogs.com/palm_springs_ca_usa.83480.html, namely by using the `pd.read_clipboard() method` after clicking the `Show All Dates` button and the copying all the rows in the supplied data table. Coulda written a script to scrape it, but that would've taken more time than the described approach. The resulting dataframes (for 2021 and 2022) were then exported to the `data/raw` sub-directory for processing here.

<img src = '../../../images/daylength-data-screenshot.jpg' width = 40%>

In [2]:
# Reading in data and instantiating dataframes

sunlight_duration_2021 = pd.read_csv('../../data/raw/sunlight-duration-2021.csv', index_col = 0)
sunlight_duration_2022 = pd.read_csv('../../data/raw/sunlight-duration-2022.csv', index_col = 0)

In [3]:
# Concatenate the instantiated dataframes into a single dataframe

df = pd.concat([sunlight_duration_2021, sunlight_duration_2022], ignore_index=True)

In [4]:
# Taking a peek

df.head()

         Date      Sunrise       Sunset    Daylength
0  11/17/2021  06:21:29 AM  04:41:21 PM  10h 19m 52s
1  11/18/2021  06:22:25 AM  04:40:52 PM  10h 18m 27s
2  11/19/2021  06:23:21 AM  04:40:25 PM   10h 17m 4s
3  11/20/2021  06:24:17 AM  04:39:59 PM  10h 15m 42s
4  11/21/2021  06:25:12 AM  04:39:35 PM  10h 14m 23s

In [5]:
# There's more data here than we need, based on the period we're focused on, as dictated
# by the periods described in the available power bill statements

df.tail()

           Date      Sunrise       Sunset   Daylength
405  12/27/2022  06:50:05 AM  04:45:28 PM  9h 55m 23s
406  12/28/2022  06:50:23 AM  04:46:09 PM  9h 55m 46s
407  12/29/2022  06:50:39 AM  04:46:50 PM  9h 56m 11s
408  12/30/2022  06:50:54 AM  04:47:33 PM  9h 56m 39s
409  12/31/2022  06:51:06 AM  04:48:17 PM  9h 57m 11s

In [6]:
# Exporting CSV for downstream processing

df.to_csv('../../data/interim/combined-sunlight-duration-data.csv')